.fond {
  background-image: url("./images/téléchargé.png");
  width: 160px;
  height: 290px;
}
.time {
  display: flex;
  justify-content: center;
  padding: 50px;
  margin: 30px;
}
.button {
  display: flex;
  margin: 33px;
  padding: 0px;
}
